.historie-container {
    display: flex;
    flex-direction: column;
    /* Stack .blok divs vertically */
    width: 100%;
    min-height: 100vh;
    justify-content: flex-start;

}


.historie-container h1 {
    margin-top: 3%;
    margin-left: 5%;
}

.historie-blok1 {
    margin-left: 5%
}

.historie-blok1 img {
    max-width: 80%;
    /* Ensure image doesn't exceed its container */
    max-height: 80%;
    /* Ensure image doesn't exceed its container */
    width: auto;
    /* Maintain aspect ratio */
    max-width: 80%;
}

.historie-blok2 {
    margin-left: 5%;
    width: 50%;
}